[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/jugglerx/hugo-whisper-theme
[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = https://github.com/JugglerX/hugo-whisper-theme.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
